# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# badlion code
src/main/java/net/badlion/
vanilla/

# badlion resources
src/main/resources/assets/minecraft/blc
src/main/resources/assets/minecraft/skyblockaddons
src/main/resources/assets/blc/cosmetics
*.original~
*.MF
*.png
